---
http_interactions:
- request:
    method: get
    uri: https://api-baserow.mes-demarches.gov.pf/api/database/rows/table/631/7/?user_field_names=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token kiaE3XVGO4ARiHFaL39H7daI0sWSPSAo
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"id":7,"order":"7.00000000000000000000","Nom":"Cours - TFTN","Actif":true,"Table":"633","Champ
        de recherche":"6033","Champs usager":"6013,6016,6019,6018,6020","Champs instructeur":"6013,6016,6019,6018,6020","Token":"sTak0zBePEHFLysnzyidH4bPOGMqEg33"}'
  recorded_at: Wed, 18 Jun 2025 01:32:34 GMT
recorded_with: VCR 6.2.0
