---
http_interactions:
- request:
    method: get
    uri: https://api-baserow.mes-demarches.gov.pf/api/database/rows/table/631/7/?user_field_names=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token kiaE3XVGO4ARiHFaL39H7daI0sWSPSAo
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"id":7,"order":"7.00000000000000000000","Nom":"Cours - TFTN","Actif":true,"Table":"633","Champ
        de recherche":"6033","Champs usager":"6013,6016,6019,6018,6020","Champs instructeur":"6013,6016,6019,6018,6020","Token":"sTak0zBePEHFLysnzyidH4bPOGMqEg33"}'
  recorded_at: Sat, 21 Jun 2025 16:18:19 GMT
- request:
    method: get
    uri: https://api-baserow.mes-demarches.gov.pf/api/database/rows/table/633/?filters=%7B%22filter_type%22:%22AND%22,%22filters%22:%5B%7B%22field%22:6033,%22type%22:%22contains%22,%22value%22:%221220%22%7D,%7B%22field%22:6033,%22type%22:%22contains%22,%22value%22:%22chlorure%22%7D%5D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token sTak0zBePEHFLysnzyidH4bPOGMqEg33
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
  recorded_at: Sat, 21 Jun 2025 16:18:20 GMT
recorded_with: VCR 6.2.0
